@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.15s ease;
  transition-property: color, background-color, border;
}

html {
  height: 100%;
  font-family: "IBM Plex Sans", "Roboto", "Helvetica Neue", "Arial", sans-serif;
}

body {
  min-height: 100%;
}

button:focus {
  outline: 0;
}
